/*Propriedades do popup sweet alert*/
.swal2-container.swal2-center > .swal2-popup {

    background-color: rgba(33, 37, 41, 1) !important;
    border: solid white 2px !important;
    color: rgb(255, 193, 7) !important;

}

/*Propriedades do botão sweet alert*/
.swal2-styled.swal2-confirm {

    background: initial !important;
    background-color: #c53838 !important;
    border: 0 !important;
    border-radius: 0.25em !important;
    color: rgb(255, 193, 7) !important;
    font-size: 1em !important;
}